---
import { cms } from "../../cms/cms";
---
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <h1>Welcome to TinaCMS</h1>
    <button onclick="cms.open()">Edit Site</button>
  </body>
</html>
